body{
    background: #D9BFC1
}
h1{
    font-size: 30px;
    color: grey
    text_align: center;
}
p{
    font-size: 30px;
    color: #590212
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grade', 'Lucida Sans Unicode', Geneva, Verdana, saddlebrown
    text-align: justify;
}
im